<div class="label">
	<span>Busca de Alunos</span>
</div>

<%= form_tag search_studants_path, method: :get, class: 'navbar-form navbar-right' do %>
	<div>
		<input type="button" value="Voltar" onclick="history.go(-1)" class="btn btn-default">
		<%= text_field_tag :name, @name, class: 'form-control' %>
	</div>
<% end %>

<%= render 'studants' %>