<div class="label">
	<span>Busca de Processos</span>
</div>

<div>
	<%= form_tag search_procedures_path, method: :get, class: 'navbar-form navbar-right' do %>
		<div>
			<input type="button" value="Voltar" onclick="history.go(-1)" class="btn btn-default">
			<%= text_field_tag :name, @name, class: 'form-contorl' %>
		</div>
	<% end %>
</div>

<%= render 'procedures' %>